---
import SiteFooter from "@/components/SiteFooter.astro";
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
import { m } from "@/paraglide/messages";
import { localizeHref } from "@/paraglide/runtime";
---

<Layout
	title={`${m.page_404_metadata_title()} | yushin.dev`}
	description={m.page_404_metadata_description()}
>
	<section
		class="container flex min-h-screen flex-col items-center justify-center space-y-16"
	>
		<div class="space-y-4 text-center">
			<h1 class="text-[min(5vw,36px)] font-bold">
				{m.page_404_metadata_title()}
			</h1>
			<p class="text-xs text-muted-foreground sm:text-sm">
				{m.page_404_metadata_description()}
			</p>
		</div>
		<a
			href={localizeHref("/")}
			class={cn(buttonVariants(), "px-8 py-6 rounded-full")}
		>
			{m.page_404_back_to_top()}
		</a>
	</section>
	<SiteFooter slot="footer"/>
</Layout>
